
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Courgette&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');
.nav-bar{
    
    display:flex;
    justify-content: flex-end;
    margin:0px;
    padding:0px;
    background-color: rgb(95, 92, 92);
    height:80px;
}

#h4{
    margin-right:auto;
    padding-left: 20px;
    font-family: 'Tourney', sans-serif;
    color:honeydew;
    
}

.img{
   width:1147px;
   height:400px;
   background-color: (255,255,0,0.6);
   border-bottom: 2px solid black;
}
.nav_b li{
    display: inline-block;
    margin-right:10px;
    padding: 15px;
    background-color:honeydew;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    
}

.nav_b a{
    text-decoration: none;
    color:black;
    font-size: larger;
}

.container2{
    margin-top:100px;
    margin-left:50px;
    text-align: left;
}

.posts{
    margin: 25px 50px;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.posts:hover{
     box-shadow:  4px 8px 16px 8px rgba(0, 0, 0, 0.2);

}

.card-container{
    padding: 2px 16px;
}

.headings{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    text-align: center;
    margin: 2px 50px;
}

.inner{
    font-family: 'Cinzel', serif;
    font-size:20px
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    width:100%;
    top:0;
}

.footer{
    background-color:  rgb(95, 92, 92);
    height: 150px;
    display:block;
    
}

.footer-para{
    margin-left:50%;
    padding-top: 30px;
}

.footer-bar{
    margin-top:30px;
    display:flex;
    justify-content:middle;
    margin-left: 50%;
}